# SWU-CPE312: Introduction to Data Science 


### Assignment#3: Exercise with Numpy and Pandas

### Student Name: Nonthacha Huanchitt <br>

In [2]:
import numpy as np
import pandas as pd

### q1: Create a numpy array X of shape (5,2) with values drawn randomly from normal distribution (0.5 point)

In [3]:
# q1
X = np.random.normal(size=(5, 2))
print (X)

[[ 0.38981811  0.06533066]
 [-0.08377898 -1.23186919]
 [ 0.42260551 -0.23153347]
 [ 1.00226469 -1.0531776 ]
 [-1.28747972 -0.17551856]]

### q2: Create another numpy array Y of shape (5,2) of all values being equal to 2  (0.5 point)

In [4]:
# q2
Y = np.full((5, 2), 2)
print(Y)

[[2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]]

### q3: Vertically stack X array  on top of Y array to create an array Z of shape (10,2) (0.5 point)

In [5]:
#q3

Z = np.vstack((X,Y))
print (Z.shape)

(10, 2)

### q4: Compute the mean and std deviation of Z for each column. The results should be of arrays of shapes (2,) (0.5 point)

In [6]:
#q4
mean_arr = np.mean(Z, axis=0)
std_arr = np.std(Z, axis=0)

### q5: Assign the first column  of  array Z to var first_col  (0.5 point)

In [7]:
#q5
first_col = Z[:, 0]

### q6: Compute the dot product between first_col and Z array. Remember the inner dimension should agree (0.5 point)

In [8]:
#q6
dot_prod = np.dot(first_col, Z)

### q7: Write a code to load data from `assignment3_data.csv` file into pandas dataframe using chunksize = 100. Print the top five rows of dataframe (1.5 points).

In [10]:
#q7
CSV_FILE = 'assignment3_data.csv'
df = pd.read_csv(CSV_FILE)
print(df)

      Unnamed: 0.1  Unnamed: 0  brewery_id             brewery_name  \
0                0           0       10325          Vecchio Birraio
1                1           1       10325          Vecchio Birraio
2                2           2       10325          Vecchio Birraio
3                3           3       10325          Vecchio Birraio
4                4           4        1075  Caldera Brewing Company
...            ...         ...         ...                      ...
1995          1995        1995         577     Isle Of Skye Brewery
1996          1996        1996         577     Isle Of Skye Brewery
1997          1997        1997         577     Isle Of Skye Brewery
1998          1998        1998         577     Isle Of Skye Brewery
1999          1999        1999         577     Isle Of Skye Brewery

      review_time  review_overall  review_aroma  review_appearance  \
0      1234817823             1.5           2.0                2.5
1      1235915097             3.0           2.5                3.0
2      1235916604             3.0           2.5                3.0
3      1234725145             3.0           3.0                3.5
4      1293735206             4.0           4.5                4.0
...           ...             ...           ...                ...
1995   1249684689             3.5           3.5                4.0
1996   1248398283             2.5           3.0                3.0
1997   1238891860             4.0           4.0                4.0
1998   1236400888             4.0           4.0                4.5
1999   1136697824             4.0           4.0                4.5

     review_profilename                      beer_style  review_palate  \
0               stcules                      Hefeweizen            1.5
1               stcules              English Strong Ale            3.0
2               stcules          Foreign / Export Stout            3.0
3               stcules                 German Pilsener            2.5
4        johnmichaelsen  American Double / Imperial IPA            4.0
...                 ...                             ...            ...
1995       bluejacket74          Scotch Ale / Wee Heavy            3.5
1996           ahalloin          Scotch Ale / Wee Heavy            3.0
1997            mduncan          Scotch Ale / Wee Heavy            4.5
1998        Chelsea1905          Scotch Ale / Wee Heavy            4.5
1999           JISurfer          Scotch Ale / Wee Heavy            3.5

      review_taste                  beer_name  beer_abv  beer_beerid
0              1.5               Sausa Weizen       5.0        47986
1              3.0                   Red Moon       6.2        48213
2              3.0     Black Horse Black Beer       6.5        48215
3              3.0                 Sausa Pils       5.0        47969
4              4.5              Cauldron DIPA       7.7        64883
...            ...                        ...       ...          ...
1995           4.0  Wee Beast (Cuillin Beast)       7.0        17010
1996           2.0  Wee Beast (Cuillin Beast)       7.0        17010
1997           4.5  Wee Beast (Cuillin Beast)       7.0        17010
1998           5.0  Wee Beast (Cuillin Beast)       7.0        17010
1999           4.5  Wee Beast (Cuillin Beast)       7.0        17010

[2000 rows x 15 columns]

### q8: Print out the counts of the number of 'NaN' values in each colum (0.5 point)

In [11]:
#q8
nan_counts = df.isna().sum()
print(nan_counts)

Unnamed: 0.1           0
Unnamed: 0             0
brewery_id             0
brewery_name           0
review_time            0
review_overall         0
review_aroma           0
review_appearance      0
review_profilename     0
beer_style             0
review_palate          0
review_taste           0
beer_name              0
beer_abv              67
beer_beerid            0
dtype: int64

### q9: Replace the 'nan' value of 'beer_abv' by the mean value of the column (1.5 points)

In [12]:
#q9

# First calculate the mean of the column, then use `isna` or `isnull` method to find
# the rows with 'Na' values and use `.loc` to replace values with mean
mean_beer_abv = df['beer_abv'].mean()

nan_rows = df['beer_abv'].isna()

df.loc[nan_rows, 'beer_abv'] = mean_beer_abv
print(df)

      Unnamed: 0.1  Unnamed: 0  brewery_id             brewery_name  \
0                0           0       10325          Vecchio Birraio
1                1           1       10325          Vecchio Birraio
2                2           2       10325          Vecchio Birraio
3                3           3       10325          Vecchio Birraio
4                4           4        1075  Caldera Brewing Company
...            ...         ...         ...                      ...
1995          1995        1995         577     Isle Of Skye Brewery
1996          1996        1996         577     Isle Of Skye Brewery
1997          1997        1997         577     Isle Of Skye Brewery
1998          1998        1998         577     Isle Of Skye Brewery
1999          1999        1999         577     Isle Of Skye Brewery

      review_time  review_overall  review_aroma  review_appearance  \
0      1234817823             1.5           2.0                2.5
1      1235915097             3.0           2.5                3.0
2      1235916604             3.0           2.5                3.0
3      1234725145             3.0           3.0                3.5
4      1293735206             4.0           4.5                4.0
...           ...             ...           ...                ...
1995   1249684689             3.5           3.5                4.0
1996   1248398283             2.5           3.0                3.0
1997   1238891860             4.0           4.0                4.0
1998   1236400888             4.0           4.0                4.5
1999   1136697824             4.0           4.0                4.5

     review_profilename                      beer_style  review_palate  \
0               stcules                      Hefeweizen            1.5
1               stcules              English Strong Ale            3.0
2               stcules          Foreign / Export Stout            3.0
3               stcules                 German Pilsener            2.5
4        johnmichaelsen  American Double / Imperial IPA            4.0
...                 ...                             ...            ...
1995       bluejacket74          Scotch Ale / Wee Heavy            3.5
1996           ahalloin          Scotch Ale / Wee Heavy            3.0
1997            mduncan          Scotch Ale / Wee Heavy            4.5
1998        Chelsea1905          Scotch Ale / Wee Heavy            4.5
1999           JISurfer          Scotch Ale / Wee Heavy            3.5

      review_taste                  beer_name  beer_abv  beer_beerid
0              1.5               Sausa Weizen       5.0        47986
1              3.0                   Red Moon       6.2        48213
2              3.0     Black Horse Black Beer       6.5        48215
3              3.0                 Sausa Pils       5.0        47969
4              4.5              Cauldron DIPA       7.7        64883
...            ...                        ...       ...          ...
1995           4.0  Wee Beast (Cuillin Beast)       7.0        17010
1996           2.0  Wee Beast (Cuillin Beast)       7.0        17010
1997           4.5  Wee Beast (Cuillin Beast)       7.0        17010
1998           5.0  Wee Beast (Cuillin Beast)       7.0        17010
1999           4.5  Wee Beast (Cuillin Beast)       7.0        17010

[2000 rows x 15 columns]

### q10: Create a Pandas series 'ds_mean' that holds the mean value of the 'review_overall' column by 'brewery_name' column (1 point)

In [13]:
#hint use groupby
ds_mean = df.groupby('brewery_name')['review_overall'].mean()
print(ds_mean)

brewery_name
7 Seas Brewery and Taproom       4.000000
Amstel Brouwerij B. V.           2.788596
Bernard Family Brewery           4.000000
Brauhaus Lemke                   4.500000
Broad Ripple Brew Pub            4.072368
Brouwerij Van Viven              4.000000
Calapooia Brewing Company        2.750000
Caldera Brewing Company          3.953881
City Grille and Brewhaus         3.214286
Clockwork Beer Co, The           3.750000
Conwy Brewery Ltd                3.388889
Destiny Brewing Company          3.884615
Harboes Bryggeri A/S             2.672414
Harmon Restaurant & Brewery      2.750000
Hokusetsu Brewery                3.000000
Hoppin' Frog Brewery             4.000000
Isle Of Skye Brewery             3.285714
Kirner Bier                      4.000000
Landhausbräu Koller              3.750000
Moon River Brewing Company       3.803828
Pacific Coast Brewing Company    3.369048
San Francisco Brewing Company    2.750000
Vecchio Birraio                  2.625000
Yazoo Brewing Company            3.500000
Name: review_overall, dtype: float64

### q11: Sort and print the ds_mean series values in descending order (0.5)

In [14]:
#hint use sort_values method
# q11 
sorted_ds_mean = ds_mean.sort_values(ascending=False)
print(sorted_ds_mean)

brewery_name
Brauhaus Lemke                   4.500000
Broad Ripple Brew Pub            4.072368
Bernard Family Brewery           4.000000
7 Seas Brewery and Taproom       4.000000
Brouwerij Van Viven              4.000000
Hoppin' Frog Brewery             4.000000
Kirner Bier                      4.000000
Caldera Brewing Company          3.953881
Destiny Brewing Company          3.884615
Moon River Brewing Company       3.803828
Clockwork Beer Co, The           3.750000
Landhausbräu Koller              3.750000
Yazoo Brewing Company            3.500000
Conwy Brewery Ltd                3.388889
Pacific Coast Brewing Company    3.369048
Isle Of Skye Brewery             3.285714
City Grille and Brewhaus         3.214286
Hokusetsu Brewery                3.000000
Amstel Brouwerij B. V.           2.788596
Calapooia Brewing Company        2.750000
San Francisco Brewing Company    2.750000
Harmon Restaurant & Brewery      2.750000
Harboes Bryggeri A/S             2.672414
Vecchio Birraio                  2.625000
Name: review_overall, dtype: float64

### q12: convert the `ds_mean` Series into a dataframe and rename the `review_overall` column to `mean_review_overall` in the dataframe ( 1 point)

In [ ]:
ds_mean = df.groupby('brewery_name')['review_overall'].mean()

df_mean = ds_mean.reset_index()

df_mean.rename(columns={'review_overall': 'mean_review_overall'}, inplace=True)
print(df_mean)

### q11: Join ds_mean series back to the original dataframe  (`df`) on `brewery_name` column (1 point)

In [ ]:
#q13
df_merge =